<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizController</servlet-name>
        <servlet-class>controller.TakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeQuizController</servlet-name>
        <servlet-class>controller.MakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuizController</servlet-name>
        <servlet-class>controller.ManageQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/viewscore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizController</servlet-name>
        <url-pattern>/takequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeQuizController</servlet-name>
        <url-pattern>/makequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuizController</servlet-name>
        <url-pattern>/managequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
